:root {
  --card-radius: 10px;
}

.card {
  background: var(--nav-background-color);
  border-radius: var(--card-radius);
  animation: card-show 0.5s ease-out;
  box-shadow: var(--box-shadow-color) 2px 2px 5px;
}

@keyframes card-show {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
