* {
  color: var(--nav-font-color);
}

.sideBarBox {
  display: block;
  position: fixed;
  width: 60vw;
  /* min-width: 70px; */
  height: 100%;
  background: var(--nav-background-color);
  transition: ease 0.5s;
  white-space: pre;
  overflow: hidden;
  overflow-y: auto;
  top: 0;
  z-index: 9999;
}

.sideBarBox::-webkit-scrollbar {
  width: 0px;
}

.sideBarBoxIsClosed {
  left: -60vw;
  /* left: 0; */
}

.sideBarBoxIsOpened {
  left: 0;
  z-index: 1000;
  box-shadow: var(--box-shadow-color) 2px 0px 5px;
}

.asideUser {
  margin-top: 80px;
  display: flex;
  width: 100%;
  align-items: center;
  height: 60px;
}

.userHead {
  width: 60px;
  height: 60px;
  min-width: 60px;
  margin-right: 10px;
  margin-left: 20px;
}

.userHead img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  box-shadow: var(--box-shadow-color) 0 0 5px;
}

.introduction {
  width: 60%;
  text-align: center;
  word-wrap: break-word;
}

.introduction .title {
  font-size: 16px;
  font-weight: 500;
}

.introduction .myIntroduction {
  font-size: 12px;
  color: var(--nav-thin-font-color);
}

.siderMenuCard {
  margin-top: 20px;
  width: 100%;
}

.siderTitle {
  position: relative;
  font-size: 13px;
  left: 20px;
  color: var(--nav-thin-font-color);
  font-weight: 300;
}

.siderMenuCard hr {
  margin-top: 7px;
  border: none;
  border-radius: 20px;
  background-color: var(--nav-thin-font-color);
  height: 1px;
  width: 90%;
  margin-left: 5%;
}

.siderNav {
  margin-top: 10px;
  list-style: none;
  width: 100%;
}

.siderNav li {
  height: 36px;
  line-height: 36px;
}

.siderNav i {
  margin-right: 0.5em;
}

.siderNav a {
  padding-left: 2em;
  text-decoration: none;
  display: block;
}

.siderNav li:hover {
  background: var(--nav-list-hover-color);
}

.active {
  background: var(--nav-list-hover-color);
}

.displayMode {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.displayMode span:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
  padding-right: 1em;
}

.displayMode span:nth-child(3) {
  padding-left: 1em;
  font-size: 18px;
  font-weight: 500;
}

.displayMode label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
}

.displayMode label div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
  height: 14px;
  background: #29323c;
  border-radius: 10px;
}

.displayMode label input {
  display: none;
}

.displayMode label div::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  box-shadow: 0px 0px 2px #000;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  transition: 0.5s;
}

.displayMode label input:checked ~ div::before {
  left: 18px;
}

.adminBtn {
  box-shadow: none;
  position: relative;
  padding-bottom: 30px;
}
