* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: linear-gradient(to top, #bdc3c7, #2c3e50);
  --nav-background-color: #29323c;
  --nav-font-color: #efeff0;
  --box-shadow-color: rgba(64, 64, 64, 0.6);
  --nav-list-hover-color: rgb(34, 42, 45);
  --nav-thin-font-color: rgba(255, 255, 255, 0.5);
}

html {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
